@import "partials/reset";
@import "partials/variables";
@import "partials/layout";
@import "partials/welcome";
@import "partials/meta";
@import "partials/card-container";
@import "partials/card";

body {
  background-color: green;
  font-family: $primaryFont;

  .hide {
    display: none;
  }


}
